@use "../../global" as *;

.c-button {
  font-family: $ff-en;
  border: 1px solid $accent-color;
  @include font(18, 400, 27, );
  background-color: $color-main;
  padding: rm(12) rm(24);
  border-radius: 100vmax;
  display: grid;
  place-items: center;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;

  @include mq(md) {
    font-size: rm(20);
  }

  @media(any-hover: hover) {
    &:hover {
      background-color: $accent-color;
      color: $color-main;
    }
  }
}