@use "../../global" as *;

.c-category {
  @include font(14, 500, 21, );
  font-size: rm(14);
  line-height: 1;
  font-weight: 500;
  height: rm(26);
  padding: rm(5) rm(8);
  border-radius: rm(10);
  display: grid;
  place-items: center;
}