@use "../global" as *;

.l-header {

}

.l-header__inner {
  display: grid;
  align-items: center;
  grid-template-columns: rm(131) 1fr;
  padding-inline: rm(19) rm(28);
  height: 100%;

  @include mq(md) {
    grid-template-columns: rm(200) 1fr;
    padding-inline: min(vw(60), 60px);
  }
}