@use "../global" as *;

.l-top__works {
  padding-block: rm(120) rm(70);

  @include mq(md) {
    padding-block: rm(115) rm(125);
  }
}

.l-top__service {
  padding-block: rm(62);

  @include mq(md) {
    padding-block: rm(118) rm(101);
  }
}

.l-top__about {
  padding-block: rm(64) rm(43);

  @include mq(md) {
    padding-block: rm(150) rm(110);
  }
}