@use "../../global" as *;

.p-breadcrumb {
  padding-block: rm(14);
  background-color: $yellow;

  @include mq(md) {
    padding-block: min(vw(22), 22px);
  }
}

.p-breadcrumb__inner {
  padding-inline: rm(7);
  display: flex;
  column-gap: rm(17);
  overflow: hidden;

  @include mq(md) {
    padding-inline: min(vw(59), 59px);
    max-width: 1440px;
    margin-inline: auto;
  }
  
  span {
    display: flex;
    column-gap: rm(17);
    @include font(14, 500, 21, );
      white-space: nowrap;

      @include mq(md) {
        font-size: rm(16);
      }

    &:not(:first-child) {
      &::before {
        content: '＞';
      }
    }
    
  }

  a {
    transition: opacity 0.3s ease;

    @media(any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }

}