@use "../../global" as *;

.p-blog {

}

.p-blog__box {
  margin-block-start: rm(32);
  padding: rm(20);
  background-color: $thin-green;
  border-radius: rm(20);

  @include mq(md) {
    margin-block-start: rm(64);
    padding: rm(32);
  }
}

.p-blog__text {
  font-size: rm(16);
  text-align: center;

  @include mq(md) {
    font-size: rm(20);
  }

}