@use "../../global" as *;


//アイコン ====================
.p-drawer__icon {
  z-index: $z-drawerIcon;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: rm(26);
  height: rm(27);
  transition: opacity 0.3s ease;
  @include mq(md) {
    display: none;
  }

  @media(any-hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.p-drawer__icon--circle {
  width: rm(4);
  height: rm(4);
  background: $color-main;
  border-radius: 50%;
}

//メニューが開いている時 ========
//ドロワーメニュー
.p-drawer {
  position: fixed;
  z-index: $z-drawer;
  overflow-y: scroll;
  border-radius: rm(20);
  inset: 0;
  width: vw-sp(248);
  height: vw-sp(400);
  max-height: calc(100vh - 12px * 2);
  max-height: calc(100svh - 12px * 2);
  margin: rm(12) rm(13)  auto auto;
  background-color: $color-main;
  box-shadow: 0px 4px 7px 0px rgba(70, 100, 100, 0.20);
}

.p-drawer__close {
  position: fixed;
  top: rm(25);
  right: rm(16);
  font-family: $ff-en;
  width: vw-sp(32);
  height: vw-sp(32);
  background-color: $color-bg;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-inline-start: auto;
  transition: background-color 0.3s ease;

  span {
    @include font(16, 500, 19.2, );
    font-size: vw-sp(16);
    margin-block-start: vw-sp(-1);
    transition: color 0.3s ease;
  }

  @media(any-hover: hover) {
    &:hover {
      background-color: $accent-color;

      span {
        color: $color-main;
      }
    }
  }
}

//ドロワーの出現の動きを指定
.p-drawer {
  scale:  0;
  opacity: 0;
  visibility: hidden;
  transform-origin: right top;
  transition: scale 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;

  &.js-show {
    visibility: visible;
    scale: 1;
    opacity: 1;
  }
}

.p-drawer__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.25);
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.p-drawer.js-show+.p-drawer__overlay {
  opacity: 1;
  visibility: visible;
}

.p-drawer__body {
  width: 100%;
  height: fit-content;
  padding: vw-sp(70) vw-sp(16) vw-sp(25);
}

.p-drawer__home {
  margin-inline: auto;
  width: vw-sp(168);
  display: block;
  transition: opacity 0.3s ease;

  @media(any-hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.p-drawer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rm(26);
  margin-block-start: rm(32);

  li a {
    font-size: rm(16);
    font-weight: 500;
    line-height: 1.5;
    display: grid;
    justify-items: center;
    width: fit-content;
    transition: opacity 0.3s ease;

    &::before {
      font-size: rm(14);
    }

   &.--works {
    &::before {
      content: 'Works';
    }
   }

   &.--about {
    &::before {
      content: 'About';
    }
   }

   &.--blog {
    &::before {
      content: 'Blog';
    }
   }

   @media(any-hover: hover) {
     &:hover {
       opacity: 0.5;
     }
   }
  }
}
.p-drawer__button {
  display: block;
  width: fit-content;
  @include font(16, 500, 25.6, 0.272);
  color: $color-main;
  padding: rm(7) rm(28.5);
  margin-block-start: rm(26);
  margin-inline: auto;
  background-color: $accent-color;
  border-radius: 100vmax;
  border: 1px solid $accent-color;
  transition: color 0.3s ease, background-color 0.3s ease;

  @media(any-hover: hover) {
    &:hover {
      background-color: $color-main;
      color: $color-text;
    }
  }
}
