@use "../../global" as *;

.p-fv {
  position: sticky;
  top: rm(67);
  z-index: -1;

  @include mq(md) {
    top: min(vw(104), 104px);
  }
}

.p-fv__inner {
  padding-inline: rm(10) rm(14);
  margin-inline: auto;
  width: min(calc(540px + rm(10) + rm(14)), 100%);

  @include mq(md) {
    width: min(calc(1170px + rm(76) + rm(10)), 100%);
    padding-inline: min(vw(76), 76px) min(vw(10), 10px);
  }
}

.p-fv__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: rm(47);

  @include mq(md) {
    flex-direction: row;
    row-gap: 0;
    justify-content: space-between;
    column-gap: rm(40);
  }
}

.p-fv__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: vw-sp(300);
  row-gap: rm(15);

  @include mq(md) {
    row-gap: rm(24);
    align-items: start;
    width: fit-content;
    flex-shrink: 0;
    margin-block-start: rm(-18);
  }
}

.p-fv__title {
  font-family: $ff-en;
  @include font(36, 800, 43.2, );
  font-size: clamp(2.25rem, 1rem + 5.33vw, 3rem);
  text-align: center;

  @include mq(md) {
    font-size: rm(48);
  }
}

.p-fv__text {
  @include font(16, 400, 24, 0.272);
  font-size: clamp(1rem, 0.792rem + 0.89vw, 1.125rem);

  @include mq(md) {
    font-size: rm(18);
  }
}

.p-fv__img {
  display: block;
  position: relative;
  flex-shrink: 0;

  @include mq(md) {
    width: min(calc(727 / 1169 * 100vw), 727px);
    flex-shrink: 2;
  }
}

.p-fv__slider {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: calc(261 / 351 * 100%);

  @include mq(md) {
    width: calc(516 / 727 * 100%);
    top: calc(50% + 12px);
    left: calc(50% + 20px);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: calc(50 / 261 * 100%);
  }

  &::before {
    background: url(../img/sp/fv-left.svg) no-repeat center center / contain;
    top: calc(2 / 168 * 100%);
    left: calc(-26 / 261 * 100%);
    height: calc(20 / 168 * 100%);
    rotate: 143deg;

    @include mq(md) {
      width: calc(100 / 516 * 100%);
      height: calc(50 / 338 * 100%);
    }
  }

  &::after {
    background: url(../img/sp/fv-left.svg) no-repeat center center / cover;
    bottom: calc(-14 / 168 * 100%);
    right: calc(-12 / 261 * 100%);
    height: calc(25 / 168 * 100%);
    rotate: -23deg;

    @include mq(md) {
      width: calc(92 / 516 * 100%);
      height: calc(50 / 338 * 100%);
      right: calc(-8 / 261 * 100%);
      bottom: calc(-8 / 168 * 100%);
    }
  }
}