@use "../../global" as *;

//ヘッダー ========================
.p-header__wrapper {
  height: rm(67);
  background-color: $color-main;

  @include mq(md) {
    height: min(vw(104), 104px);
  }

  &.--bg {
    background-color: $color-bg;
  }
}

.p-header {
  position: fixed;
  z-index: $z-header;
  top: rm(8);
  left: 50%;
  translate: -50%;
  width: calc(100% - 12px * 2);
  height: rm(50);
  background: #80BCBD;
  border-radius: 100vmax;

  @include mq(md) {
    top: min(vw(19), 19px);
    width: min(vw(1220), 1220px);
    height: min(vw(66), 66px);
  }
}

.p-header__logo {
  a {
    font-size: rm(16);
    font-family: $ff-en;
    font-weight: 800;
    line-height: 1.2;
    color: transparent;
    background: linear-gradient(45deg, $yellow 50%, $color-main 50%) 100%;
    background-clip: text;
    background-size: 208% 100%;
    transition: background-position 0.3s;

    @include mq(md) {
      font-size: rm(24);
    }

    @media(any-hover: hover) {
      &:hover {
        background-position: 0 100%;
      }
    }
  }
}
.p-header__nav {
  display: none;

  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: rm(64);
  }
}
.p-header__list {
  display: flex;
  align-items: center;
  column-gap: rm(62);
  margin-block-start: rm(8);
  li a {
    font-size: rm(18);
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-main;
    transition: opacity 0.3s ease;

    &::before {
      font-size: rm(14);
      font-family: $ff-en;
      line-height: 1;
    }

    &.--works {
      &::before {
        content: 'Works';
      }
    }

    &.--about {
      &::before {
        content: 'About';
      }
    }

    &.--blog {
      &::before {
        content: 'Blog';
      }
    }

    @media(any-hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }
  }
  }

.p-header__button {
  width: rm(170);
  padding: rm(8) rm(21);
  border-radius: 100vmax;
  background-color: $yellow;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    background-color: $accent-color;
    inset: 0;
    z-index: 1;
    transform-origin: left center;
    scale: 0 1;
    transition: scale 0.3s ease;
  }

  span {
    font-size: rm(16);
    font-weight: 700;
    line-height: 1.5;
    color: $accent-color;
    position: relative;
    z-index: 2;
    transition: color 0.2s ease;
  }

  @media(any-hover: hover) {
    &:hover {
      &::after {
        scale: 1;
      }

      span {
        color: $yellow;
      }
    }
  }
}