@use '../../global' as *;

.p-top-about {
  background-color: $color-main;
}

.p-top-about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rm(30);

  @include mq(md) {
    flex-direction: row-reverse;
    row-gap: 0;
    column-gap: rm(120);
    padding-inline-end: rm(52);
  }
}

.p-top-about__img {
  margin-top: rm(46);
  padding-inline: rm(48.5);

  @include mq(md) {
    margin-top: 0;
    padding-inline: 0;
    width: rm(409);
    flex-shrink: 0;
  }

  img {
    aspect-ratio: 254 / 207;
    object-fit: cover;

    @include mq(md) {
      aspect-ratio: 409 / 333;
    }
  }
}

.p-top-about__text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: rm(30);
  padding-inline: rm(25) rm(26);

  @include mq(md) {
    row-gap: rm(40);
    padding-inline: 0;
  }
}

.p-top-about__introduce {
  display: grid;
  row-gap: rm(16);

  @include mq(md) {
    row-gap: rm(10);
  }
}

.p-top-about__carrier {
  display: grid;
  row-gap: rm(14);

  @include mq(md) {
    row-gap: rm(10);
    margin-block-start: rm(8);
  }
}

.p-top-about__heading {
  font-family: $ff-en;
  @include font(18, 800, 21.6, 0.9);

  @include mq(md) {
    @include font(24, 500, 28.8, 1.2);
  }
}

.p-top-about__text {
  @include font(16, 500, 25.6, 0.272);
  font-feature-settings: "palt";
  text-align: justify;
}

.p-top-about__skill {
  margin-block-start: rm(27);
  border: 2px solid #80bcbd;
  padding: rm(26) rm(24);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'language'
                        'css'
                        'tools'
                        'time';
  row-gap: rm(28);
  border-radius: rm(20);

  @include mq(md) {
    margin-block-start: rm(66);
    padding: rm(18) rm(40) rm(17);
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      'language time'
      'css time'
      'tools time';
    column-gap: rm(72);
    row-gap: rm(21);
  }
}

.p-top-about__content {
  &:nth-of-type(1) {
    grid-area: language;
  }
  &:nth-of-type(2) {
    grid-area: css;
  }
  &:nth-of-type(3) {
    grid-area: tools;
  }
  &:nth-of-type(4) {
    grid-area: time;
  }
}

.p-top-about__skill-heading {
  @include font(16, 700, 25.6, 0.272);
}

.p-top-about__skill-text {
  font-size: rm(16);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.017em;
  font-feature-settings: "palt";
  overflow-wrap: anywhere;
}
