//_variables.scss
$ff: "Zen Kaku Gothic New", serif; // bodyに指定するフォント
$ff-jp: "Zen Kaku Gothic New", serif; //日本語onlyのフォント
$ff-en: "M PLUS 1p", serif; //英語onlyのフォント
$ff-sub: "Noto Sans JP", serif;


//===========================================
//   レイアウト (単位は不要)
//===========================================
$pc-inner: 1040;  // pc版inner幅 
$pc-sidePadding: 40; //pc版サイドのpadding
$pc-inner-sum: calc($pc-inner + $pc-sidePadding * 2); 
$pc-narrow-inner: 962; //狭いinner幅
$pc-narrow-inner-sum: calc($pc-narrow-inner + $pc-sidePadding * 2); 
$breakpoint: 768; // ブレイクポイント (pc版カンプとsp版カンプの境界)
$sp-sidePadding: 12; //sp版サイドのpadding
$pc-camp: 1440; // pc版のカンプサイズを入力
$sp-camp: 375; // sp版のカンプサイズを入力
$sp-inner: 420;
$sp-inner-sum: calc($sp-inner + $sp-sidePadding * 2);

$sm-breakpoint: 460; // sp-small版ブレイクポイント
$lg-breakpoint: 900; // large版ブレイクポイント


//z-index
$z-header: 100;
$z-drawerIcon: 10;
$z-drawer: 102;

//===========================================
//   カラー
//===========================================
$color-text: #456464; // テキストカラー
$color-main: #ffffff; //一番よく使われるカラー
$color-bg: #EBF5F0; //全体の背景色
$accent-color: #456464; //この辺は自由に設定
$white: #ffffff;
$green: #AAD9BB;
$thin-green: #D5F0C1;
$yellow: #F9F7C9;

